Высшая математика/ДЗ/Сойко Иван_ДЗ1.pdf
Высшая математика/Конспекты/МФТИ занятие 1 (план).pdf
Высшая математика/Конспекты/МФТИ занятие 2 (план).pdf
Высшая математика/Конспекты/МФТИ занятие 3 (план).pdf
Высшая математика/Теория/Дискретная математика.pdf
Высшая математика/Теория/Кочетков Е.С., Смерчинская С.О., Соколов В.В. - Теория вероятностей и математическая статистика (2014, Форум, Инфра-М) - libgen.li.pdf
Высшая математика/Теория/Случайные величины.pdf
Высшая математика/Теория/Теория_вероятностей_задачи_с_решениями (1).pdf
Высшая математика/Теория/Теория_вероятностей_задачи_с_решениями.pdf
Высшая математика/Теория/Формула полной вероятности Байеса Bayes (1).pdf
Высшая математика/Теория/diskretnaya_matematika_ingenera.pdf
Высшая математика/Теория/kremer_n.sh-teorija_verojatnosti_i_matematicheskaj.pdf
Высшая математика/Теория/ms-sibguti.pdf
Высшая математика/Теория/Ore1965ru.pdf
Высшая математика/Теория/Statistika_i_kotiki.pdf
Высшая математика/Теория/Uilson1977ru.pdf
Документы/1 семестр счёт на оплату_Сойко И.С..pdf
Документы/Договор Сойко И.С.pdf
Документы/Заявление 22.04.pdf
Документы/Мотивационное письмо Иван Сойко.docx
Документы/Мотивационное письмо Иван Сойко.pdf
Документы/Платёж Сойко И.С._30.08.2024.pdf
Документы/Приложение к диплому.pdf
Документы/Резюме Иван Сойко.pdf
Документы/скрин_1.png
Документы/скрин.png
Документы/Согласие на обработку данных.pdf
Методология научных исследований/(2024) Методология научных исследований_силлабус.pdf
Методология научных исследований/МНИ_2.pdf
Методология научных исследований/МНИ_4.pdf
Методология научных исследований/Эссе МНИ.docx
